<!DOCTYPE html>
<html>
  <head>
		<%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
    <title>NewAuthDemo</title>
  </head>
  <body>
		<nav class="navbar navbar-default">
			<ul class="nav nav-pills">
				<li>
					<a href="<%= home_url %>">Home</a>
				</li>

				<li>
					<a href="<%= contact_url %>">Contact</a>
				</li>

				<li>
					<a href="<%= about_url %>">About</a>
				</li>
			<% if signed_in? %>
				<li class="dropdown navbar-right">
					<button class="btn btn-default dropdown-toggle"
							type="button"
							id="user-info"
							data-toggle="dropdown">
							<%= current_user.username %>
							<span class="caret"></span>
					</button>

					<ul class="dropdown-menu" role="menu" aria-labelledby="user-info">
						<li role="presentation">
							<a role="menuitem"
								tabindex="-1"
								href="<%= user_url(current_user) %>">Profile</a>
						</li>
						<li role="presentation">
							<%= link_to "Sign Out", session_url, id:'sign-out-btn' %>
						</li>
					</ul>
				</li>

    <% else %>
    <p class="navbar-right">
			<button class="btn btn-primary btn-lg" data-toggle="modal"
				data-target="#sign-in">
				Sign In
			</button>
      <%= link_to "Sign up", new_user_url %>
    </p>
    <% end %>
			</ul>

    </nav>
    <hr>


		<% if flash[:notice] %>
			<div class="alert alert-success">
		    <ul>
		      <% flash[:notice].each do |notice| %>
		      <li><%= notice %></li>
		      <% end %>
		    </ul>
			</div>
		<% end %>


    <% if flash[:errors] %>
    <h3>Please fix the following errors:</h3>
    <ul>
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
    <% end %>

		<div class="container">

			<div class="modal fade" id="sign-in">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span>
								<span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title">Sign In</h4>
						</div>
						<div class="modal-body">

							<div class="form-group">
							  <label for="user_username">Username</label>
							  <input
									 class="form-control"
							     id="user_username"
							     name="user[username]"
							     type="text"
									 placeholder="Enter username">
							 </div>

							<div class="form-group">
							  <label for="user_password">Password</label>
							  <input
									 class="form-control"
							     id="user_password"
							     name="user[password]"
							     type="password"
									 placeholder="Enter password">
							 </div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" id="sign-in-btn">Sign In</button>
						</div>
					</div>
				</div>
			</div>




	    <%= yield %>
		</div>
  </body>
	<script>
		$(function () {
			$('#sign-out-btn').on('click', function (event) {
				event.preventDefault();

				$.ajax({
					url: "/session",
					type: "delete",
					success: function () {
						window.location.replace("/home");
					}
				});
			});

			$('#sign-in-btn').on('click', function (event) {
				event.preventDefault();
				var username = $('#user_username').val()
				var password = $('#user_password').val()
				var params = { user: { username: username, password: password } };
				// console.log(params)

				$.ajax({
					type: "POST",
					url: "/session",
					data: params,
					success: function () {
						$("#sign-in").modal("hide");
						window.location.replace("/home")
					},
					failure: function () {
						console.log(":(");
					}
				})
			});

			$()
		});
	</script>
</html>
